/* navigation bar */
.nav-bar-wrapper {
  position: fixed;
  width: 100%;
  height: 54px;
  background-color: white;
  border-bottom: solid 1px #dbdbdb;
  z-index: 1;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  height: 54px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 975px;
  margin: 0 auto;
  box-sizing: border-box;
}
.stargram-logo {
  width: 103px;
  /* height: 29px; */
  display: block;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.4em;
  cursor: pointer;
}
.search-input {
  width: 215px;
  height: 28px;
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
}
.nav-icons {
  /* background: url("../../images/nav-icons.JPG");
  background-size: 210px 27px; */
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.home-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0 10px;
  padding: 0;
}
.myprofile-icon {
  cursor: pointer;
  margin: 0 10px;
}

/* Search Bar */
.search-container {
  width: 375px;
  height: 362px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 10px;

  display: flex;
  justify-content: center;
}
.search-container::before {
  content: "";
  height: 14px;
  width: 14px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  bottom: -6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin-top: 10px;
}
.search-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: #fff;
  z-index: 1;
}
.search-list > h4 {
  margin: 0;
  padding: 10px 20px;
}
.search-list > li {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}
.search-list > li:hover {
  background: #fafafa;
}
.searched-profile {
  display: block;
}
